/* Basic Styles
  =========================
 */
 .white{
   color:#fff;
 }

 .mt-70{
   margin-top: 70px;
 }

 .mt-50{
   margin-top: 50px;
 }

 .mt-25{
   margin-top: 25px;
 }

 .mt-10{
   margin-top: 10px;
 }

  .d-i{
    display: inline;
  }

/* Top bar
  =========================
 */
.top-bar{
  padding: 5px 0px;
}
.social [class*="fa fa-"] {
    background-color: darkgrey;
    border-radius: 25px;
    color: #fff;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin: auto 3px;
    width: 25px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}
.fa-twitter:hover {
    background-color: #46c0fb;
}
.fa-facebook:hover {
    background-color: #3a589e;
}
.fa-google-plus:hover {
    background-color: #cd2029;
}
.fa-linkedin:hover {
    background-color: #0d77b7;
}
.fa-instagram:hover {
    background-color: #fccc63;
}
.user-links a{
  color:#fff;
  text-decoration: none;
  font-size: 15px;
}
.user-links a:hover{
  color:#00afff;
}

/* Navigation bar
  =========================
 */
ul.nav.navbar-nav li{
  margin-top: 20px;
}
ul.nav.navbar-nav li a{
  display: inline;
  line-height:2;
  font-weight: bold;
  color: #000;
}
ul.nav.navbar-nav li a:hover{
  color: #00afff;
}
.nav>li>a:focus, .nav>li>a:hover{
  background: transparent;
}
ul.nav.navbar-nav li.active{
  border-radius: 4px;
  border: 2px solid #00afff;
}
ul.nav.navbar-nav li.active a{
  color: #00afff;
}
button.navbar-toggle{
  background-color: #00afff;
}
.carousel-bg{
  background-image: url('../../images/header-bg.jpg');
  height: 480px;
  background-size: cover;
  background-position: top center;
  position:relative;
}
.overlay{
  background: rgba(0,0,0,.4);
  position: absolute;
  top: 0;left: 0;right: 0;bottom: 0;
}


/* Carousel
  =========================
 */
 #myCarousel{
   position: absolute;
   bottom: 0;top: 0;left: 0;right: 0;
 }

 .carousel-caption{
   text-align: left;
   margin-top: 150px;
   margin-left: 150px;
   padding-right: 500px;
 }

 a.carousel-control.left{
   margin-left: 60px;
   background-image: none;
   background-repeat:no-repeat;
 }
 a.carousel-control{
   position: static;
    top: none;
    bottom: none;
    left: none;
    width: none;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: none;
    background-color: none;
    filter: none;
    opacity: .5;
 }
 a.carousel-control.right{
   background-image: none;
   background-repeat:no-repeat;
   margin-right: 60px;
 }
 .fa-arrow-circle-o-left{
   position: absolute;
   left: 10%;
   top: 43%;
   font-size: 35px;
 }
 .fa.fa-arrow-circle-o-right:hover,.fa.fa-arrow-circle-o-left:hover{
   color:#00afff;
   transition: .3s;
   transform: scale(1.3);
 }
 .fa-arrow-circle-o-right{
   position: absolute;
   right: 10%;
   top: 43%;
   font-size: 35px;
 }
 #myCarousel .carousel-inner .item{
   margin: 0;
   margin-top: 15%;
   margin-left: 20%;
   width: 60%;
 }

 .carousel-indicators li{
   background: #eee;
   height: 5px;
   width: 5px;
   margin-right: 10px;
 }
 .carousel-indicators li.active{
   border: 2px solid #fff;
   padding: 5px;
   background: #00afff;
   margin-right: 10px;
   margin-top: 5px;
 }


 /* Services Items
   =========================
  */
  .sevices-items{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }
  .sevices-items .col-sm-3{
    /* margin: 5px; */
    padding: 17px 10px;
  }
  .sevices-items i{
    font-size: 60px;
    color:#00afff;
  }

  .sevices-items .col-sm-4.active .well{
    background:#00afff;
  }
  .sevices-items .col-sm-4.active .well,.sevices-items .col-sm-4.active .well i{
    color:#fff;
  }

/* Featured Projects
=============================
*/

.center-pills { display: inline-block; }

img.project-image,.blog-img{
  object-fit: cover;
  width: 100%;
  height: 250px;
}
.project-images{
  margin: 0.5px;
  margin-bottom: 17px;
}
div.project-images div{
  padding: 0;
}
div.controls a.fa{
  color:#fff;
  font-size: 26px;
  margin-right: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 1px;
  padding: 7px;
  background-color: #4e545e;
}
div.controls a.fa:hover{
  text-decoration: none;
  color: #4e545e;
  background-color: #fff;
}
div.controls{
  visibility: hidden;
  color:#fff;
  position: absolute;
  background: #00afff;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 0px;
  z-index: 99;
}
div.controls p.lead{
  line-height: 2;
  font-size: 20px;
  margin-left: 10px;
  display: inline;
}

div.project-desc:hover .controls{
  visibility: visible;
}

ul.nav.nav-pills li a:hover{
  color: #00afff;
}
.nav>li>a:focus, .nav>li>a:hover{
  background: transparent;
}
ul.nav.nav-pills li.active{
  border-radius: 4px;
  border: 2px solid #00afff;
}
ul.nav.nav-pills li.active a{
  color: #00afff;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background: transparent;
}
.nav>li>a{
  padding: 4px 10px;
  color:#000;
  font-weight: bold;
}

a.rm-link1{
  color:#66cfff;
  text-decoration: none;
  font-weight: 600;
}
a.rm-link1:hover{
  color:#57c0f0;
}

/* Blog Post
==========================
 */
 .post-content{
   padding-top: 5px;
   padding-left: 25px;
 }
 .btn-custom{
   padding: 7px 6px;
   background: #fa5824;
   font-size: 11px;
   border-radius: 8px;
   color:#eee;
   text-decoration: none;
 }
 .btn-custom:hover{
   color:#fff;
   text-decoration: none;
   background: #f55421;
 }

 .post-thumbnail{
   padding: 0;
   padding-bottom: 20px;
 }
 a.rm-link2{
   color:#fa5824;
   text-decoration: none;
   font-weight: 600;
 }
 a.rm-link2:hover{
   color:#f45320;
 }

 /*  Team MEMBERS
 ==============================
  */
  .team-thumbnail{
    padding: 0;
  }

  /* Analytics
  ===========================
   */

   .analytics{
     background: url('../../images/analytics-bg.jpg') fixed;
     background-size: cover;
     background-position: top center;
     position: relative;
     padding:15px 0px;
   }

  .analysis .well{
    text-align: center;
    border: none;
    background: transparent;
  }

  .analysis{
    max-height: 150px;
  }

  .analysis h1{
    font-weight: 700;
  }

  .analysis p{
    font-size: 18px;
  }
/* Testimonial slider
============================
 */
 .news-letter .col-sm-12{
   padding:0px 20px;
 }
 .testimnial-slider{
   padding: 30px;
 }
 .slider div{
   margin: 5px;
 }

 .slider .thumbnail{
   border-radius: 0px;
   padding: 40px 5px;
   background-color: #ddd;
 }

 .slider .thumbnail img{
   margin-bottom: 20px;
 }

 .thumbnail.slick-slide.slick-active.slick-current{
   box-shadow: 0 0 4px 4px rgba(0,0,0,0.4);
 }
/* Contact form
=======================
 */
 .contact-form{
   position: relative;
   background: url('../../images/desk.jpg') fixed;
   background-size: cover;
   background-position: top center;
   padding-top: 15px;
   padding-bottom: 90px;
 }


/* Fancy Input fields
=============================
*/
.contact-form input{margin-top: 20px;}
:focus{outline: none;}
.effect-2{border: 0; padding: 7px 0; border-bottom: 1px solid #ccc;}
.effect-2 ~ .focus-border{position: absolute; bottom: 0; left: 50%; width: 0; height: 2px; background-color: #009ee7; transition: 0.4s;}
.effect-2:focus ~ .focus-border{width: 100%; transition: 0.4s; left: 0;}
.effect-2:focus::placeholder{color: #009ee7;}
input.effect-2::placeholder{color: #fff;}
input[type="text"].effect-2{background: transparent;font: 15px/24px 'Muli', sans-serif; color: #fff; width: 100%; box-sizing: border-box; letter-spacing: 1px;}
.form-group{position: relative;}


/* News letter
==================
 */
.news-letter{
  background: #717a83;
  padding: 20px 0px;
}
.news-letter h2{
  line-height: 1;
}
.news-letter input,button{
  margin-top: 10px;
}
.news-letter input::placeholder{
  font-size: 12px;color:#000;
}

/* Bottom Navigation
==========================
 */

 .bottom-nav{
   padding: 30px 0px;
   background: #2e4053;
 }


.bottom-bar{
  background-color: #212f3d;
  padding: 20px;
}
.bottom-bar p{
  padding-left: 40px;
}

.bottom-nav .dashed-list li a{
  color:#ddd;
  text-decoration: none;
}
.bottom-nav .dashed-list li a:hover{
  color:#fff;
}

.bottom-bar .social{
  padding-left: 40px;
}

/* Media Queries
=======================
 */

@media only screen and (max-width : 480px) {
  .carousel-bg{
    height:320px;
  }
  .carousel-bg h2{
    font-size: 18px;
  }
  .carousel-bg p{
    font-size: 12px;
  }
  .analysis h1{
    font-size: 30px;
    font-weight: 600;
  }
}

@media only screen and (min-width : 480px) {
  .carousel-bg{
    height:360px;
  }
  .carousel-bg h2{
    font-size: 25px;
  }
  .carousel-bg p{
    font-size: 14px;
  }
}

@media only screen and (min-width : 728px) {
  .carousel-bg{
    height:430px;
  }
  .carousel-bg h2{
    font-size: 25px;
  }
  .carousel-bg p{
    font-size: 14px;
  }
}
